body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fffdfb;
    color: #000;
}

html {
    scroll-behavior: auto;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 0.8rem;
    height: 100%;
}

.link_item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 0.3rem;
    cursor: pointer;
}

.link_item:hover {
    background-color: #ff6666;
}

.bio {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0.8rem;
    margin: .5rem;
}

.blurb {
    text-align: justify;
}

h2.name_header {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 0.5rem;
    border: 3px;
}

.links {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  
    row-gap: 3rem;
    margin: 1.2rem 0;
    width: calc(100%);
}

.school-card {
    margin: 1rem;
}

.classes .life {
    text-align: center;
}

.semester_classes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h3.semester_title {
    margin: 1.5rem 0rem 0.4rem
}

.class_title {
    font-weight: bold;
}

.class_prof {
    font-style: italic;
    padding: 0.2rem 1rem;
}

#last_card {
    margin-bottom: 5rem;
}

h6.life_header {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

h2.section_head {
    text-align: center;
}

h3.semester_title {
    text-align: center;
}

.life_pics {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.8rem;
    row-gap: 0.8rem;
    height: 100%;
}

.semester_classes {
    margin: .4rem 0rem;
}