body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fffdfb;
    color: #000;
}

html {
    scroll-behavior: auto;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.8rem;
    row-gap: 0.8rem;
    height: 100%;
}

.link_item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 0.3rem;
    cursor: pointer;
}

.link_item:hover {
    background-color: #ff6666;
}

.bio {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0.8rem;
    width: calc(50%);
}

.blurb {
    text-align: justify;
}

h2.name_header {
    font-size: xx-large;
    text-align: center;
}

.links, .classes {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  
    column-gap: 1.2rem;
    row-gap: 1.2rem;
    margin: 1.2rem 0;
    width: calc(100%);
}

